WIKI_BASE_URL=https://hellokittyislandadventure.wiki.gg
CHROMA_COLLECTION_NAME=hkia_v1
EMBEDDING_PROVIDER=ollama
EMBEDDING_MODEL=nomic-embed-text
EMBEDDING_MODEL_VERSION=v1.5
LLM_PROVIDER=ollama
LLM_MODEL=llama3
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
