WIKI_BASE_URL=https://hellokittyislandadventure.wiki.gg
CHROMA_COLLECTION_NAME=hkia_nomic-embed-text_recursive_v2
EMBEDDING_PROVIDER=ollama
EMBEDDING_MODEL=nomic-embed-text
EMBEDDING_MODEL_VERSION=v1.5
LLM_PROVIDER=openai
LLM_MODEL=gpt-4o-mini
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
